$gray0: #575757;
$gray1: #2c3338;
$gray2: #1f2325;
$gray3: #0d1113;
$highlight2: #76b900;
$lightGray: rgba(255, 255, 255, 0.9);
$lightGray2: rgba(255, 255, 255, 0.75);
$lightGray3: rgba(255, 255, 255, 0.45);
$error: #FF291C;