:host{
    position: relative;
    width: 100%;
    height: auto;
    outline: none !important;
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $lightGray2;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    opacity: 0;
    transition: opacity 0.2s;

    &.ready{
        opacity: 1;
    }


    &[center="true"] {
        justify-content: center;
    }
}