:host {
    display: inline-block;
}

input {
    width: 0px;
    height: 0px;
    border: none;
    margin: 0px;
    padding: 0px;
    opacity: 0;
    pointer-events: none;
}

.nv-radio-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none !important;
    font-size: $fontSize;
    font-family: $fontFamily;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    color: $lightGray2;
    margin: 10px 0px;

    .effects-container {
        margin-right: 32px;
        width: 20px;
        height: 20px;
        position: relative;
    }

    &.selected {
        color: $lightGray;

        material-icon {
            color: $highlight2
        }
    }
}
