html,
body {
    height: 100%;
}

#page {
    display: flex;
    height: 100%;
    overflow: hidden;
}

#sidebar {
    width: 20%;
    max-width: 200px;
    background: rgba(13, 17, 19, 0.5);
    height: 100%;
    overflow: auto;
}

#sidebar div {
    cursor: pointer;
    padding: 10px 20px;
}

#sidebar div.active {
    background: rgba(31, 35, 37, 0.68);
}

#sidebar div:hover {
    background: rgba(31, 35, 37, 0.42);
}

#content {
    flex-grow: 1;
    padding: 20px 3%;
    overflow: auto;
}

.demo-section {
    background: #2c3338;
    padding: 20px;
    margin: 0px 0px 48px;
}

.param-section {
    padding: 10px 0px;
}

.component-description {
    margin-bottom: 48px;
}

.nv-tab-content table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.nv-tab-content table th {
    background: #2c3338;
}

.nv-tab-content table tr:nth-child(even) td {
    background: rgba(44, 51, 56, 0.25);
}

.nv-tab-content table th,
.nv-tab-content table td {
    padding: 14px;
    vertical-align: text-top;
}

.nv-tab-content table td pre {
    display: inline-block;
    margin: 0px;
}
